body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.img {
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url('imgs/halie-west-25xggax4bSA-unsplash.png');
    background-size: cover; /* Cover the entire div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
}

.form-side {
    flex: 2 1 60%;
}

.title {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    height: 15%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
}

.title img {
    height: 90%;
}

h1 {
    padding: 0;
    font-family: NORSE-BOLD;
    color: white;
    margin: 0;
    font-size: calc(40px + 5vw); /* Adjust to match the image height */
}

.acknowledgement {
    color: rgb(184, 184, 184); 
    font-size: 10px;
    margin: 5px;
}

.form-shadow-box {
    border: 1px solid black;
}